h1{
    margin: 0;
}
.about-body-container{
    display: flex;
    margin-bottom: 100px;
}
.about-container{
    display: flex;
    flex-direction: column;
}
.right-about-container{
    text-align: left;
    margin: 0 20px;
}
.left-about-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;
}
.hello-line-container{
    align-self: flex-start;
}
.about-photo{
    text-align: center;
    margin-bottom: 25px;
    width: 90vw;
}
.stat-bar-container{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.stat-bar{
    justify-self: flex-start;
}
.svg-container{
    width: 50vw;
    height: 5px;
}
.skill{
    color: #828282;
    text-align: right;
    width: 100px;
    margin-right: 15px;
}
.section-title-container{
    color: #828282;
    font-size: 40px;
    margin-bottom: 30px;
}
.skill-item{
    display: flex;
    margin-bottom: 10px;
}
.skill-text{
    margin-left: 15px;
    font-weight: lighter;
}
.section-header{
    margin-bottom: 20px;
}
.about-line{
    margin-bottom: 20px;
}
.section-header{
    text-align: center;
}
.skills-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        color: #828282;
        font-size: 25px;
}
.code-container, .design-container, .life-container{
    width: 300px;
    margin: 0 50px;
}
.skills-section{
    margin-left: 70px;;
}
.section-icon{
    text-align: center;
    color: #33DD87;
    font-size: 50px;
    margin-left: 125px;
}
@media only screen and (min-width: 768px) {
    .skills-section{
        margin-left: 30px;;
    }
    .skills-container{
        flex-wrap: nowrap;
    }
    .about-photo{
        width: 500px;
    }
    .svg-container{
        width: 400px;
    }
    .right-about-container{
        width: 45%;
    }
    .left-about-container{
        text-align: left;
        width: 50%; 
        align-items: flex-start;
        margin: 0;
    }
    .about-body-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;

    }
    .about-container{
        height: 100vh;
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skills-container{
        display: flex;
        justify-content: center;
        color: #828282;
        font-size: 25px;
    }
    .code-container, .design-container, .life-container{
        width: 300px;
        margin: 0 50px;
    }
}