h1{
    margin: 0;
}
.home-body-container{
    display: flex;
    margin-bottom: 100px;
}
.home-container{
    display: flex;
    flex-direction: column;
}
.hello-container{
    color: #828282;
    font-size: 50px;
}
.dots-nav-container{
    display: none;
}
.right-home-container{
    text-align: left;
    margin: 0 20px;
}
.left-home-container{
    display: flex;
    justify-content: center;
    /* margin-left: 25px; */
}
.home-photo{
    text-align: center;
    width: 300px;
}
.hello-line-container{
    width: 117px;
    border-bottom: #33DD87 8px solid;
}
.intro-text{
    color: #828282;
    font-size: 20px;
    font-weight: lighter;
    /* letter-spacing: 1px; */

}
@media only screen and (min-width: 768px) {
    .hello-container{
        font-size: 70px;
    }
    .right-home-container{
        width: 50%;
    }
    .left-home-container{
        text-align: right;
    }
    .home-photo{
        width: 400px;
    }
    .home-body-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .home-container{
        height: 100vh;
        width: 60vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .dot-nav-button{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #BCBCBC;
        cursor: pointer;
        transition: width 0.2s ease, height 0.2s ease, background-color 0.2s;
    }
    .dot-nav-button:hover{
        width: 17px;
        height: 17px;
        background-color: #33DD87;
    }
    .dot-nav-button:active{
        background-color: #33DD87;
        width: 14px;
        height: 14px;
    }
    .dots-nav-container{
        position:fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* align-items: center; */
        height: 30%;
        left: 140px;
        top: 35%;
    }
}