body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.nav-body-container{
    width: calc(100vw - 60px);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 30px;
}
.top-side-container{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: flex-start;
}
.nav-buttons-mobile-container{
    display: block;
}
.nav-buttons-container, .social-media-container{
    display: none;
}
.nav-menu-container{
    margin: 0;
    color: #BCBCBC;
    font-size: 30px;
    cursor: pointer;
}
@media only screen and (min-width: 768px) {
    .top-side-container{
        align-items: center;
        width: calc(100vw - 200px);
    }
    .nav-body-container{
        position: fixed;
        margin: 90px;
        z-index: 10;
    }
    .nav-buttons-mobile-container, .social-media-mobile-container{
        display: none;
    }
    .nav-buttons-container, .social-media-container{
        display: flex;
    
    }
    .nav-button{
        margin: 0 20px;
        color: #BCBCBC;
        letter-spacing: 3px;
        font-size: 16px;
        cursor: pointer;
        font-weight: normal;
        transition: color 0.2s, font-size 0.2s ease;
        
    }
    .nav-button:active, .nav-button:hover{
        font-size: 18px;
        font-weight: bold;
        color: #33DD87;   
    }
    

}